---
import ContentLayout from "../layouts/ContentLayout.astro";
import ProjectItem from "../components/ProjectItem.astro";

type ProjectFrontmatter = {
  title: string;
  tagline: string;
  folderName: string;
  colorTo: string;
  date: string;
};

const projects = (await Astro.glob("./projects/*.md")) as Array<{
  frontmatter: ProjectFrontmatter;
  url: string;
}>;

const sortedProjects = projects.sort(
  (a, b) =>
    new Date(b.frontmatter.date ?? 0).getTime() -
    new Date(a.frontmatter.date ?? 0).getTime(),
);
---

<ContentLayout pagetitle="Projects">
  <div class="grid">
    {
      sortedProjects.map((p) => (
        <ProjectItem
          title={p.frontmatter.title}
          tagline={p.frontmatter.tagline}
          href={p.url}
          folderName={p.frontmatter.folderName}
          colorTo={p.frontmatter.colorTo}
        />
      ))
    }
  </div>
</ContentLayout>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
    margin: 2rem 0;
  }
</style>
