---
import "../styles/global.css";

export interface Props {
    name: string;
    icon: string;
    url?: string;
}

const { name, icon, url } = Astro.props;
---

{
    url ? (
        <a href={url} class="container">
            <img
                class="icon"
                src={icon}
                alt={`${name} icon`}
                loading="lazy"
                decoding="async"
            />
            <span class="tooltip-text">{name}</span>
        </a>
    ) : (
        <div class="container">
            <img
                class="icon"
                src={icon}
                alt={`${name} icon`}
                loading="lazy"
                decoding="async"
            />
            <span class="tooltip-text">{name}</span>
        </div>
    )
}

<style>
    .container {
        width: 9%;
        margin: 5px 10px;
        padding: 5px;
        position: relative;
        font-weight: bolder;
    }

    .icon {
        display: block;
        position: relative;
        z-index: 1;
    }

    .tooltip-text {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--text);
        color: var(--primary);
        padding: 6px 10px;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        font-size: 14px;
        transition: all 0.3s ease;
        font-weight: bolder;
        z-index: 2;
    }

    .container:hover .tooltip-text {
        opacity: 1;
        visibility: visible;
        top: -50px;
    }
</style>
