---
import ContentLayout from "./ContentLayout.astro";
import Carousel from "../components/Carousel.tsx";
import Separator from "../components/Separator.astro";

import fs from "fs";
import path from "path";

const {
  title,
  tagline,
  folderName,
  link,
  heroColorFrom = "var(--primary)",
  heroColorTo = "var(--accent)",
} = Astro.props;

const imagesDir = path.join(process.cwd(), "public", folderName);
const images = fs
  .readdirSync(imagesDir)
  .map((file) => `/${folderName}/${file}`);
---

<ContentLayout>
  <div
    class="hero-container"
    style={`background: linear-gradient(${heroColorFrom}, ${heroColorTo})`}
  >
    <h1>{title}</h1>
    <h2>{tagline}</h2>
  </div>
  <div class="carousel-container">
    <Carousel images={images} visibleCount={3} client:load />
  </div>
  <Separator thickness={3} margin="50px" length="75%" color="var(--accent)" />
  <div class="description-container">
    <slot name="description" />
  </div>
  <div>
    <a href={link}>
      <slot name="link" />
    </a>
  </div>
</ContentLayout>

<style>
  div {
    border-radius: 5px;
    padding: 1%;
  }

  .hero-container {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1em 3em;
    width: 100%;
    min-height: 15em;
    margin: 10px;
    margin-top: 0;
  }

  .carousel-container {
    display: flex;
    width: 90%;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
  }

  .description-container {
    background-color: var(--primary);
    display: flex;
    width: 90%;
    margin: 10px;
    text-align: justify;
  }

  .link-container {
  }
</style>
