---
import ContentLayout from "./ContentLayout.astro";
import Carousel from "../components/Carousel.tsx";
import Separator from "../components/Separator.astro";

import fs from "fs";
import path from "path";

const { frontmatter } = Astro.props;

const imagesDir = path.join(
  process.cwd(),
  "public",
  "project_images",
  frontmatter.folderName,
);

const images = fs
  .readdirSync(imagesDir)
  .filter((f) => /\.(png|jpe?g|webp|gif|svg)$/i.test(f))
  .map((file) => `/project_images/${frontmatter.folderName}/${file}`);
---

<ContentLayout pagetitle=`Projects/${frontmatter.title}`>
  <div
    class="hero-container"
    style={`background: linear-gradient(${frontmatter.colorFrom}, ${frontmatter.colorTo})`}
  >
    <h1>{frontmatter.title}</h1>
    <h2>{frontmatter.tagline}</h2>
  </div>
  <div class="carousel-container">
    <Carousel images={images} visibleCount={3} client:load />
  </div>
  <Separator thickness={3} margin="50px" length="75%" color="var(--accent)" />
  <div class="description-container">
    <slot />
  </div>
  <div>
    <a
      href={frontmatter.link}
      class="link-container"
      target="_blank"
      rel="noopener noreferrer"
    >
      {frontmatter.linkText}
    </a>
  </div>
</ContentLayout>

<style>
  div {
    border-radius: 5px;
    padding: 1%;
  }

  .hero-container {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1em 3em;
    width: 100%;
    min-height: 15em;
    margin: 10px;
    margin-top: 0;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
  }

  .carousel-container {
    display: flex;
    width: 90%;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
  }

  .description-container {
    background-color: var(--primary);
    display: flex;
    width: 90%;
    margin: 10px;
    text-align: justify;
  }

  .link-container {
    text-decoration: none;
  }
</style>
